body{
      height: 90%;
background-image:url(bg9.jpg);  
background-position: center;
background-repeat: no-repeat;
background-size: cover;
 } 
 


h1 { 
 cursor: pointer ;       
color: black;
text-align:center ;
font-family: cursive ;


 }



 h2{
   color:b;


 }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


 .btn-xl {   
    color: blue;
    border: white;
    border-width: 2px;
    padding: 1px 2px;
    width: 1px;
    height: 1px;

            }


























